<div class="container">
  <div class="row">
    <div class="col-4">


<p id="notice"><%= notice %></p>

<p>
  <strong>グループ名:</strong>
  <%= @group.name %>
</p>
<p>

  <%= attachment_image_tag @group, :group_image, size: '200x200', format: 'jpeg', class: "img" %>
</p>
</div>
<div class="col-8">
<p>グループメンバー</p>
<div><% @group.users.each do |user| %>

        <div>
        <%= attachment_image_tag user, :profile_image, size: '100x100', format: 'jpeg', fallback: "no_image.jpg", class: "img" %>
        <%= user.name %>
        <%= link_to 'Show', user %>
        </div>
    <% end %>
</div>
</div>
<%= link_to '編集する', edit_group_path(@group), class: "btn btn-outline-primary" %> |
<%= link_to '一覧に戻る', groups_path, class: "btn btn-outline-primary" %>
<% unless @group.users.include?(current_user) %>
<%= link_to '参加する', join_group_path(@group), class: "btn btn-outline-primary" %>
<% else %>
<%= link_to 'チャットする', group_chats_path(params[:id]), class: "btn btn-outline-primary" %>
<% end %>
    </div>
  </div>
</div>