<% if follows.exists? %>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>名前</th>
          <th>自己紹介</th>
          <th>フォロワー数</th>
          <th>フォロー数</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% follows.each do |user| %>
        <tr>
          <!--変数にFriendクラスが入っているときのみ、変数の変更-->
          <% user = User.find(user.friend_id) if user.class == Friend %>
          <td><%= attachment_image_tag user, :profile_image, size: '60x60', format: 'jpeg', fallback: "no_image.jpg", class: "img" %></td>
          <td><%= link_to user.name, user_path(user.id, week_id: 0) %></td>
          <td>
            <%= truncate(user.introduction, length:35) %>
           </td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
          <% friend = Friend.find_by(friend_id: user.id, myself_id: current_user.id) %>
          <td>
            <%= link_to "知人から削除", friend_path(friend.id, params: {id: friend.id}), method: :delete, class: "btn btn-outline-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
  <%= paginate follows %>

