<div class="container">
  <div class="row">
        <div class="col-5">
          <%= attachment_image_tag @user, :profile_image, size: '200x200', format: 'jpeg', fallback: "no_image.jpg", class: "img" %>
        </div>
        <div class="col-7">
          <p>
            名前：<%= @user.name %>
          </p>
          <p>メールアドレス：<%= @user.email %></p>
          <p>
            現在のステージ：<%= @user.stage %>
          </p>
          <p>
            現在のレベル：<%= @user.level %>
          </p>
          <p class="introduction">
            自己紹介：
            <% unless @user.introduction == nil %>
              <%= @user.introduction %>
            <% else %>
              未設定
            <% end %>
          </p>
          <p>
            公開ステータス：
            <%= @user.show_status %>
          </p>
          <p>
            検索ステータス：
            <% if @user.searchable == true %>
              ID検索を許可
            <% else %>
              ID検索を許可しない
            <% end %>
          </p>
          <p>
            カスタムID：
            <% unless @user.custom_id == nil %>
              <%= @user.custom_id %>
            <% else %>
              未設定
            <% end %>
          </p>

          <% if @user == current_user %>
           <%= link_to '編集画面へ', edit_user_registration_path, class: "btn btn-outline-primary" %>
          <% end %>
        </div>
      </div>
</div>