<div class="container">
  <% unless @review == nil %>
  <h4>マイページ</h4>
  <h4><%= @review.created_at.strftime('%Y/%m/%d') %>の振り返り</h4>
  <div class="row">
    <div class="col-7 colum">
      <h5>ユーザー</h5>
    <div class="col-4">

      <%= attachment_image_tag @user, :profile_image, size: '100x100', format: 'jpeg', fallback: "no_image.jpg" %>
    </div>
    <div class="col-4">
      <div class="field">
   名前
    <%= @user.name %>
  </div>

  <div class="field">
    email
    <%= @user.email %>
  </div>
  <%= link_to '編集画面へ', edit_user_registration_path %>
    </div>
    </div>
    <div class="col-4 offset-md-1 colum">
      <h5>達成率</h5>
      <%= @review.rate %>%図で
    </div>
    <div class="col-12 colum">
      <h5>本日の振り返り(反省)</h5>
      <p><%= @review.review %></p>
    </div>
    <div class="col-12 colum">
      <h5>明日の目標</h5>
      <p><%= @review.plan %></p>
    </div>
    <div class="col-12 colum">
      <h5>本日のトピック:<%= @review.title %></h5>
      <p><%= @review.topic %></p>
    </div>
    <div class="col-12 colum">
      <p>コメント数：<%= link_to "#{@review.comments.count} 件", review_path(@review.id) %>
         いいね数：<%= @review.liked_users_count %>
        <%= link_to '詳細画面', @review %>
        <% if @review.written_by?(current_user) %>
        <%= link_to '編集', edit_review_path(@review) %>
        <%= link_to '削除', @review, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </p>
    </div>
</div>

  <div class="row">
    <%= line_chart @data, xtitle: "日付", ytitle: "達成率", width: "800px", height: "500px" %>
  </div>
<% end %>

</div>