<h1>Users#show</h1>
 <h2>画像</h2>
<%= attachment_image_tag @user, :profile_image, size: '100x100', format: 'jpeg' %>

  <div class="field">
   name
    <%= @user.name %>
  </div>

  <div class="field">
    email
    <%= @user.email %>
  </div>
<div>

  <%= link_to '編集画面へ', edit_user_registration_path %>
</div>
<h3>いいねしている投稿</h3>
<% @user.liked_reviews.each do |review| %>
  <%= review.user.name %>
  <%= review.topic %>
<% end %>
<%= link_to "ユーザー一覧へ", users_path %>
<%= link_to "ホームへ戻る", root_path %>