<p>タグ一覧</p>
<% if @tags.present? %>
      <% @tags.each do |tag| %>
      <%= tag.name %>
      <% end %>
      <% end %>
<p>タグ新規追加</p>
<%= form_with model: @tag do |f| %>
 <div class="field">
    <%= f.label 'タグ名' %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "登録", class: 'form-submit'%>
  </div>
  <% end %>