 <%= form_with model: goal do |f| %>
       <div class="field">
    <%= f.label '目標' %>
    <%= f.text_field :name, class: "form-control", placeholder: "例）今月の契約数：1件" %>
  </div>

  <div class="field">
    <%= f.label '期限' %>
    <%= f.date_field :date, class: "form-control" %>
  </div>
  <div class="field">
    達成ステータス
    <%= f.radio_button :achieved, :true %>
  <%= f.label :achieved, "達成", {value: :true, style: "display: inline-block;"} %>
  <%= f.radio_button :achieved, :false %>
  <%= f.label :achieved, "未達成", {value: :false, style: "display: inline-block;"} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

    <% end %>