<%= form_with(model: review, local: true) do |form| %>
<!--エラーメッセージ-->

  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label 'タグ' %>
    <%= form.number_field :tag_id %>
  </div>

  <div class="field">
    <%= form.label '達成率' %>
    <%= form.number_field :rate %> %
  </div>

  <div class="field">
    <%= form.label '本日の振り返り(反省）' %>
    <%= form.text_area :review %>
  </div>

  <div class="field">
    <%= form.label '明日の目標' %>
    <%= form.text_area :plan %>
  </div>

  <div class="field">
    <%= form.label '本日のトピック題名' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label '本日のトピック' %>
    <%= form.text_area :topic %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
