<div class="container">
  <div class="row">

 <p id="notice"><%= notice %></p>

<div class="col-12">

<p>
  <strong>達成率:</strong>
  <%= @review.rate %>%
</p>

<p>
  <strong>本日の振り返り(反省）:</strong>
  <%= @review.review %>
</p>

<p>
  <strong>明日の目標:</strong>
  <%= @review.plan %>
</p>

<p>
  <strong>本日のトピック題名:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>本日のトピック:</strong>
  <%= @review.topic %>
</p>
<p>
  <div id="likes_buttons">
             <%= render partial: 'likes/like', locals: { review: @review} %>
          </div>

</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
</div>
<div class="col-12">


<p>いいねしたユーザー</p>
<% @review.liked_users.each do |user| %>
  <li><%= user.name %></li>
  <li><%= attachment_image_tag user, :profile_image, size: '100x100', format: 'jpeg', fallback: "no_image.jpg" %>
       </li>
<% end %>

<%= link_to "ホームへ戻る", root_path %>
</div>
<div class="comments">
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { review: @review} %>
  </div>
<div class="new-comment">
  <div id="comment_new">
    <%= render partial: 'comments/form', locals: { review: @review, comment: @comment} %>
  </div>

</div>
 </div>
</div>
</div>