<p id="notice"><%= notice %></p>


<p>
  <strong>タグ:</strong>
  <%= @review.tag_id %>
</p>

<p>
  <strong>達成率:</strong>
  <%= @review.rate %>
</p>

<p>
  <strong>本日の振り返り(反省）:</strong>
  <%= @review.review %>
</p>

<p>
  <strong>明日の目標:</strong>
  <%= @review.plan %>
</p>

<p>
  <strong>本日のトピック題名:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>本日のトピック:</strong>
  <%= @review.topic %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>

<h3>いいね件数: <%= @review.likes.count %></h3>
<% if current_user.already_liked?(@review) %>
  <%= button_to 'いいねを取り消す', review_likes_path(@review), method: :delete %>
<% else %>
  <%= button_to 'いいね', review_likes_path(@review), method: :post %>
<% end %>
<h2>いいねしたユーザー</h2>
<% @review.liked_users.each do |user| %>
  <li><%= user.name %></li>
<% end %>

<%= link_to "ホームへ戻る", root_path %>