<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @review.tag_id %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @review.rate %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<p>
  <strong>Today:</strong>
  <%= @review.today_id %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @review.plan %>
</p>

<p>
  <strong>Tomorrow:</strong>
  <%= @review.tomorrow_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @review.topic %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>

<h3>いいね件数: <%= @review.likes.count %></h3>
<% if current_user.already_liked?(@review) %>
  <%= button_to 'いいねを取り消す', review_likes_path(@review), method: :delete %>
<% else %>
  <%= button_to 'いいね', review_likes_path(@review), method: :post %>
<% end %>
<h2>いいねしたユーザー</h2>
<% @review.liked_users.each do |user| %>
  <li><%= user.name %></li>
<% end %>

<%= link_to "ホームへ戻る", root_path %>