<!DOCTYPE html>
<html>
  <head>
    <title>GOAL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.2/gcal.js"></script>
  </head>

  <body>
     <% if user_signed_in? %>
     <li>
        <%= link_to 'アバウト', about_path %>
      </li>
      <li>
        <%= link_to 'タスク', tasks_path %>
      </li>
      <li>
        <%= link_to 'グループ', groups_path %>
      </li>
      <li>
        <%= link_to '通知', notifications_path %>
      </li>
      <li>
        <%= link_to '振り返り', reviews_path %>
      </li>
      <li>
        <%= link_to 'カレンダー', events_path %>
      </li>
      <li>
        <%= link_to '目標', goals_path %>
      </li>
      <li>
        <%= link_to 'フォロー', user_follows_path(user_id: current_user.id) %>
      </li>

      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
