<!DOCTYPE html>
<html>
  <head>
    <title>GOAL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/014a69a131.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

  <body data-turbolinks="false">
     <% if user_signed_in? %>
     <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">GOAL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'ABOT', about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'カレンダー', events_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'グループ', groups_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to '通知', notifications_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'フォロー', user_follows_path(user_id: current_user.id), class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          目標達成
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to '振り返り', reviews_path, class: "dropdown-item" %>
          <%= link_to '目標', goals_path, class: "dropdown-item" %>
          <%= link_to 'タスク', tasks_path, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


    <%= yield %>
    <footer class="footer" style="background-color: #e3f2fd;">
      <div style="text-align:center;height:60px;padding-top:20px;">
        © Ayami Yokoi.All Rights reserved
      </div>
    </footer>
  </body>
</html>
